<module>
	<rawname>fax</rawname>
	<repo>standard</repo>
	<name>Fax Configuration</name>
	<version>2.9.0.5</version>
	<publisher>Schmoozecom.com</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<fax>Fax Configuration</fax>
	</menuitems>
	<description>Adds configurations, options and GUI for inbound faxing</description>
	<changelog>
		*2.9.0.5* #5029
		*2.9.0.4* #5000
		*2.9.0.3* #4886 additional
		*2.9.0.2* #4886, #4907
		*2.9.0.1* removed duplicate functions
		*2.9.0.0* #4562, #4326, #4557, #4632, #4651, #4653
		*2.8.0.5* various localization cleanup
		*2.8.0.4* #4326, #4336
		*2.8.0.3* #4277, #4227
		*2.8.0.2* #4166
		*2.8.0.1* #4118
		*2.8.0.0* #4099, #4117, adjust presentation becasue of #1798
		*2.7.0.16* #4101, #4112, #4113
		*2.7.0.15* #4096 (workaround for Asterisk bug in 1.6.2)
		*2.7.0.14* #4090
		*2.7.0.13* localizations
		*2.7.0.12* #4077
		*2.7.0.11* #4056, #4059
		*2.7.0.10* #4029, #4046, #4045 again
		*2.7.0.9* #4045 again
		*2.7.0.8* #4045
		*2.7.0.7* #4040
		*2.7.0.6* #4031
		*2.7.0.5* #4021
		*2.7.0.4* #4021
		*2.7.0.3* #4020
		*2.7.0.2* #4019
		*2.7.0.1* #4018
		*2.7.0.0* Initial reelase: #4007, #4010
	</changelog>
	<depends>
		<version>2.7.0beta1</version>
	</depends>
	<location>release/2.9/fax-2.9.0.5.tgz</location>
	<md5sum>d3fd972db0100dbc0c9094be365b5306</md5sum>
</module>
