<module>
	<rawname>fax</rawname>
	<repo>standard</repo>
	<name>Fax Configuration</name>
	<version>2.10.0.0</version>
	<publisher>Schmoozecom.com</publisher>
	<license>GPLv2+</license>
	<category>Settings</category>
	<menuitems>
		<fax>Fax Configuration</fax>
	</menuitems>
	<description>Adds configurations, options and GUI for inbound faxing</description>
	<changelog>
		*2.10.0.0* new version changes
		*2.9.0.5* #5029
		*2.9.0.4* #5000
		*2.9.0.3* #4886 additional
		*2.9.0.2* #4886, #4907
		*2.9.0.1* removed duplicate functions
		*2.9.0.0* #4562, #4326, #4557, #4632, #4651, #4653
	</changelog>
	<depends>
		<version>2.7.0beta1</version>
	</depends>
	<location>release/2.10/fax-2.10.0.0.tgz</location>
	<md5sum>cbcf410c108f6064a00bca7ca6f9fbee</md5sum>
<supported><version>2.10</version></supported></module>
