<module>
	<rawname>fax</rawname>
	<repo>standard</repo>
	<name>Fax Configuration</name>
	<version>14.0.2.2</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Settings</category>
	<menuitems>
		<fax>Fax Configuration</fax>
	</menuitems>
	<description>Adds configurations, options and GUI for inbound faxing</description>
	<changelog>
		*14.0.2.2* Merge from 13
		*14.0.2.1* Merge from 13
		*14.0.2* FREEPBX-6655 - Expand email 'From' address support.
	</changelog>
	<depends>
		<version>12.0.1rc16</version>
		<module>userman ge 13.0</module>
	</depends>
	<supported>
		<version>14.0</version>
	</supported>
	<hooks>
			<core class="Core" namespace="FreePBX\modules">
				<method callingMethod="hookTabs" class="Fax">coreDIDHook</method>
			</core>
			<userman class="Userman" namespace="FreePBX\modules">
				<method callingMethod="delGroup" class="Fax">usermanDelGroup</method>
				<method callingMethod="addGroup" class="Fax">usermanAddGroup</method>
				<method callingMethod="updateGroup" class="Fax">usermanUpdateGroup</method>
				<method callingMethod="myShowPage" class="Fax">usermanShowPage</method>
				<method callingMethod="delUser" class="Fax">usermanDelUser</method>
				<method callingMethod="addUser" class="Fax">usermanAddUser</method>
				<method callingMethod="updateUser" class="Fax">usermanUpdateUser</method>
			</userman>
			<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
				<method callingMethod="getHeaders" class="Fax">bulkhandlerGetHeaders</method>
				<method callingMethod="export" class="Fax">bulkhandlerExport</method>
				<method callingMethod="import" class="Fax">bulkhandlerImport</method>
			</bulkhandler>
			<framework namespace="FreePBX\Console\Command" class="Chown">
				<method class="Fax" callingMethod="fwcChownFiles">chownFreepbx</method>
			</framework>
	</hooks>
	<database>
	  <table name="fax_details">
	    <field name="key" type="string" length="50" notnull="false"/>
	    <field name="value" type="string" length="510" notnull="false"/>
	    <key name="key" type="unique">
	      <column name="key"/>
	    </key>
	  </table>
		<table name="fax_incoming">
			<field name="cidnum" type="string" length="20" notnull="false"/>
			<field name="extension" type="string" length="50" notnull="false"/>
			<field name="detection" type="string" length="20" notnull="false"/>
			<field name="detectionwait" type="string" length="5" notnull="false"/>
			<field name="destination" type="string" length="50" notnull="false"/>
			<field name="legacy_email" type="string" length="50" notnull="false"/>
			<field name="ring" type="integer" default="0" notnull="false"/>
		</table>
	</database>
	<location>release/2.11/fax-2.11.0.5.tgz</location>
	<md5sum>70d070401263f9b348729aed98d0fdea</md5sum>
</module>
